<div>List of Kites</div>
<div>
    <h2>First database that is workingv</h2>
    <ul>
        {{#each kitelist}}
            <li>{{brand}}&nbsp; {{model}}&nbsp; {{color}}</li>
        {{/each}}
    </ul>
</div>